/*=============================================================================

  File:         /node_modules/rwt-lineup/rwt-lineup.css
  Language:     CSS
  Copyright:    Read Write Tools © 2020
  License:      MIT
  Initial date: Jan 5, 2020
  Contents:     A flexible menu using round images as hyperlinks

=============================================================================*/

:host {
	--pure-white: #fff;
	--white: #ccc;
	--gray: #777;
	--dark-gray: #555;
	--black: #333;
	--transparent-black: #333D;
	--medium-black: #222;
	--nav-black: #111;
	--pure-black: #000;
	--js-blue: #76afe8;
	--title-blue: #42affa;
	--yellow: #ffffa4;
	--red: #ff3d3d;
	
	/* custom element decorations */	
	--color: var(--pure-white);
	--accent-color1: var(--title-blue);
	--accent-color2: var(--yellow);
	--accent-color3: var(--dark-gray);
	--background: var(--black);
	--accent-background1: var(--light-black);
	--accent-background2: var(--pure-black);

	/* custom element variables */	
	--img-size: 54px;
	--img-margin: 14px;
	--width: 100%;
	--pullbar-height: 1rem;

	/* calculated sizes */
	--img-box-size: calc(var(--img-size) + 6px);
	--readout-height: 1.2rem;
	--container-height: calc(var(--img-box-size) + var(--img-margin)*2 + 2px);
	--height: calc(var(--readout-height)*2 + var(container-height) + var(--pullbar-height));
}

.clipframe {
	position: relative;
	width: var(--width);
	height: var(--height);
	margin: 0;
	overflow: visible;
	box-sizing: border-box;
}

.pullbar {
	height: var(--pullbar-height);
	max-width: 100%;
	text-align: center;
	margin: 0;
	background-color: var(--accent-background1);
	border-top: none;
	border-right: none;
	border-bottom: calc(var(--pullbar-height)*2/4) solid var(--background);
	border-left: none;
	font-size: calc(var(--pullbar-height)/4);
	color: var(--color);
	cursor: pointer;
	box-sizing: border-box;
}
.pullbar:hover {
	border-top: none;
	border-right: 1px solid var(--accent-background1);
	border-bottom: none;
	border-left: 1px solid var(--accent-background1);
	font-size: calc(var(--pullbar-height)/2);
	background-color: var(--accent-background1);
	padding-top: 0.25rem;
}

.readout {
	background-color: var(--medium-black);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	margin: 0;
	padding: 0;
	height: var(--readout-height);
}

#title.readout {
	font-weight: 700;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 0.5rem;
}
#kicker.readout {
	font-weight: 400;
	color: var(--white);
	padding-bottom: 0.5rem;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	width: 100%;
	height: var(--container-height);
	background-color: var(--background);
	overflow: hidden;
	border-color: var(--background);
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
}
.container.expand {
	border-color: var(--background) var(--accent-background1);
	border-style: solid;
	border-width: 1px;
}
.container img {
    width: var(--img-box-size);
    height: var(--img-box-size);
    padding: 2px;
    background-color: #333;
    border: 1px solid var(--color);
    border-radius: 50%;
    text-align: center;
    margin: var(--img-margin);
	box-sizing: border-box;
}
.container a {
	text-decoration: none;
	border-bottom: none;
}
.container a.activename {
	background-color: var(--accent-background1);
	border-radius: 50%;
}
.container a:hover img,
.container a:focus img {
	width: calc(var(--img-margin) + var(--img-box-size));
    height: calc(var(--img-margin) + var(--img-box-size));
    margin: calc(var(--img-margin)/2);
    border: 2px solid var(--accent-color1);
}
.container a:active img {
    border: 2px solid var(--accent-color2);
}
.container a:focus {
    outline: none;
}
.container a:visited img {
    border: 2px solid var(--accent-color3);
}
.container a:visited:hover img,
.container a:visited:focus img {
	border: 2px solid var(--accent-color1);
}
.container a:visited:active img {
    border: 2px solid var(--accent-color2);
}
#pullbar.pulsate {
	animation-name: pulsate;
	animation-duration: 3s;
	animation-iteration-count: 1;
}
@keyframes pulsate {
  0% {
	background-color: var(--accent-background2);
    opacity: 0;
  }
  50% {
	background-color: var(--accent-background2);
    opacity: 1;
  }
  100% {
	background-color: initial;
    opacity: 0.1;
  }
}	

